<h1>Comparable Company Analysis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
    <th>Market cap</th>
    <th>Enterprise value</th>
    <th>EV/CY Sales</th>
    <th>EV/CY+1 Sales</th>
    <th>P/E LTM</th>
    <th>P/E CY</th>
    <th>P/E CY+1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.ticker %></td>
    <td><%= number_to_currency(company.market_cap, :precision=>1) %></td>
    <td><%= number_to_currency(company.enterprise_value, :precision=>1) %></td>
    <td>
        <% if company.enterprise_value %>
        <%= number_with_precision(company.enterprise_value/(company.sales_cy), :precision=>1) %>x</td>
        <% end %>
    <td><% if company.enterprise_value %>
        <%= number_with_precision(company.enterprise_value/(company.sales_cy_plus_one), :precision=>1) %>x</td>
        <% end %>
    <td><%= company.earnings_ltm %></td>
    <td><%= company.earnings_cy %></td>
    <td><%= company.earnings_cy_plus_one %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
