<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
    <th>Market cap</th>
    <th>Enterprise value</th>
    <th>Sales ltm</th>
    <th>Sales cy</th>
    <th>Sales cy plus one</th>
    <th>Earnings ltm</th>
    <th>Earnings cy</th>
    <th>Earnings cy plus one</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.ticker %></td>
    <td><%= company.market_cap %></td>
    <td><%= company.enterprise_value %></td>
    <td><%= company.sales_ltm %></td>
    <td><%= company.sales_cy %></td>
    <td><%= company.sales_cy_plus_one %></td>
    <td><%= company.earnings_ltm %></td>
    <td><%= company.earnings_cy %></td>
    <td><%= company.earnings_cy_plus_one %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
