<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Advertising Tech</a></li>
    <li><a href="#tab2" data-toggle="tab">Content</a></li>
    <li><a href="#tab3" data-toggle="tab">Digital Media</a></li>
    <li><a href="#tab4" data-toggle="tab">eCommerce</a></li>
    <li><a href="#tab5" data-toggle="tab">Gaming</a></li>
    <li><a href="#tab6" data-toggle="tab">Mobile</a></li>
    <li><a href="#tab7" data-toggle="tab">Online Retail</a></li>
    <li><a href="#tab8" data-toggle="tab">SaaS</a></li>
    <li><a href="#tab9" data-toggle="tab">Web Services</a></li>
  </ul>

  <div class="tab-content">

    
    <div class="tab-pane active" id="tab1">
        <h4>Advertising Tech</h4>
        <% @company_group = @advertising_tech_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab2">
        <h4>Content</h4>
        <% @company_group = @content_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab3">
        <h4>Digital Media</h4>
        <% @company_group = @digital_media_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab4">
        <h4>eCommerce</h4>
        <% @company_group = @ecommerce_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab5">
        <h4>Gaming</h4>
        <% @company_group = @gaming_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab6">
        <h4>Mobile</h4>
        <% @company_group = @mobile_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab7">
        <h4>Online Retail</h4>
        <% @company_group = @online_retail_companies %>
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab8">
        <h4>Software-as-a-Service</h4>
        <% @company_group = @saas_companies %>  
        <%= render 'companies/table' %>
    </div>

    <div class="tab-pane" id="tab9">
        <h4>Web Services</h4>
        <% @company_group = @web_services_companies %>  
        <%= render 'companies/table' %>
    </div>

    </div>
</div>